.reg{
    padding: 16px;
  }

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 30%;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity:1;
  }

  input[type=text], input[type=password]  input[type = number] input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=number] input[type=number] input[type=date] :focus {
    background-color: rgb(161, 160, 160);
    outline: none;
  }
 .left_right_margin{
    margin-left: 70%;
    margin-right: -30%;
 }

 