.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 30%;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity:1;
  }